body {
    background-color: #EEEBDD;
    font-family: 'Amatic SC', cursive;
    
}

h1 {
    color: #630000;
    font-family: 'Waterfall', cursive;
    font-size: 100px;
    margin: 20px 20px 50px 20px;
    text-align: center;
    text-decoration: underline dotted;
    font-weight: 600;

}

a {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

a:hover {
    color: magenta;
}

.recipe-pic {
    width: 100%;
    display: block;
    margin: auto;
}

.lasagna {
    width: 20%;
    height: 20%;
}

.lasagna:hover {
    transform: scale(1.5);
    transition-duration 0.2s: ;
}

.shrimp {
    width: 15%;
    height: 15%;
}

.shrimp:hover {
    transform: scale(1.5);
    transition-duration 0.2s: ;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    text-align: center;
}

footer {
    font-family: Tahoma, sans-serif;
    color: #630000;
    text-align: center;
    background-color: #D8B6A4;
    padding: 20px;
}