body {
    background-color: #FCDEC0;
    font-family: 'Amatic SC', cursive;
    
}

h1 {
    color: #7D5A50;
    font-family: 'Waterfall', cursive;
    font-size: 100px;
    margin: 20px 20px 50px 20px;
    text-align: center;
    text-decoration: underline dotted;

}

a {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

a:hover {
    color: maroon;
}

.recipe-pic {
    width: 100%;
    display: block;
    margin: auto;
}

.lasagna {
    width: 20%;
    height: 20%;
}

.shrimp {
    width: 15%;
    height: 15%;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    text-align: center;
}